body {
    background-color: #94f3f3;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;    
}
hr{
    border-style: none;
    border-color: grey;
    border-top-style: dotted;
    width: 5%;
    border-width: 5px;
    margin: 50px auto;
}
span{
    text-decoration: underline;
}

h1{
    color: #66BFBF;
    margin: 50px auto 0 auto;
    font-size: 5.6em;
    font-family: 'Sacramento', cursive;
    line-height: 2;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: #11999E;
    padding-bottom: 40px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

.top-cloud-img{
    position: absolute;
    right: 300px;
    top: 50px;
    height: inherit;
}

.btm-cloud-img{
    position: absolute;
    float: inline-start;
}

.dev-image{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.chilli-image{
    width: 25%;
    margin-right: 30px;
    float: right;
}

.top-container{
background-color: #94f3f3;
position: relative;
padding-top: 100px;
}
.bottom-container{
    background-color: #73bfc2;
    padding: 50px 0 20px;
}

a{
    color: #067579;
    line-height: 2;
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.skill-row{
    width: 50%;
    position: relative;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}
.copyright{
    color: #EAF6F6;
    font-size: 0.7rem;
}

.btn {
    background: #44EFFF;
    background-image: -webkit-linear-gradient(top, #44EFFF, #17868A);
    background-image: -moz-linear-gradient(top, #44EFFF, #17868A);
    background-image: -ms-linear-gradient(top, #44EFFF, #17868A);
    background-image: -o-linear-gradient(top, #44EFFF, #17868A);
    background-image: -webkit-gradient(to bottom, #44EFFF, #17868A);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Verdana;
    font-size: 25px;
    font-weight: 600;
    padding: 10px 40px;
    -webkit-box-shadow: 1px 1px 20px 12px #000000;
    -moz-box-shadow: 1px 1px 20px 12px #000000;
    box-shadow: 1px 1px 20px 12px #000000;
    text-shadow: 12px 3px 8px #000000;
    border: solid #118395 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    border: inset #06F6E9 0;
    background: #1D8B85;
    background-image: -webkit-linear-gradient(top, #1D8B85, rgba(42, 218, 206, 0.6));
    background-image: -moz-linear-gradient(top, #1D8B85, rgba(42, 218, 206, 0.6));
    background-image: -ms-linear-gradient(top, #1D8B85, rgba(42, 218, 206, 0.6));
    background-image: -o-linear-gradient(top, #1D8B85, rgba(42, 218, 206, 0.6));
    background-image: -webkit-gradient(to bottom, #1D8B85, rgba(42, 218, 206, 0.6));
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }