$primary: grey;
$secondary: rgb(167, 83, 23);
$article-color: rgb(185, 30, 56);
$dark-color: rgb(165, 158, 158);
$nav-color: rgb(36, 32, 32);
$body-color:rgb(97, 181, 209);
$divPink: #961842d2;
$text-color:rgb(94, 25, 126);
$article3: 'This is AfterNoon Theme. Answer misery adieus add wooded how nay men before though. Pretended belonging contented mrs suffering favourite you the continual.';
$radiant-map:(center, $divPink 0%, #4d3469 24%, #a85c2f 100%);