  $primary: white;
  $secondary: chocolate;
  $article-color: pink;
  $dark-color: darkgrey;
  $nav-color: #333;
  $body-color:lightblue;
  $divPink: #b43c64d2;
  $text-color:rgb(156, 66, 197);
  $article3: 'This is Morning Theme. Answer misery adieus add wooded how nay men before though. Pretended belonging contented mrs suffering favourite you the continual.';
  $radiant-map:(center, $divPink 0%, #4d3469 24%, #a85c2f 100%);
