$primary: chocolate;
$secondary: white;
$article-color: grey;
$dark-color: black;
$nav-color: #333;
$body-color:blue;
$divPink: #E71F62;
$text-color:rgb(70, 12, 97);
$article3: 'This is Evening Theme.Answer misery adieus add wooded how nay men before though. Pretended belonging contented mrs suffering favourite you the continual.';
$radiant-map:(center, $divPink 0%, #7833CB 24%, #753E1E 100%);