/* 
clear
clip
clip: rect(10px, 10px, 10px, 10px);
cursor
    auto
    crosshair
    default
    help
    move
    pointer
    text
    url
    wait
    e-resize
    ne-resize
    nw-resize
    n-resize
    se-resize
    sw-resize
    s-resize
    w-resize

Display
 block
 inline
 list-item
 none

Float
Visibility
z-index
position
    static
    relative
    absolute
    fixed

The Syntax
selector:pseudo-element {property: value}
selector.p:pseudo-element {property: value}

First Line
p{font-size: small;}
p:first-line {font-size: medium; color: #ff0000;}

First Letter
p{font-size: small;}
p:first-letter {font-size: medium; color: #ff0000;}

a[href$=pctf] {
    background: transparent url.(pdficon.gif) 0 50% no-repeat;
    padding-left: 20px;
    }
    a[riref$=pdf]: after {
    content: “ (PDF)”;
    }

    ::-moz-selection{
        background: #484848;
        color:#fft;
        }
        ::selection {
        background:#484848;
        color:#fft;
        }

            -webkit-transition: all 4s ease;
            -moz-transition: all 4s ease;
            -ms-transition: all 4s ease;
            -o-transition: all 4s ease;
            transition: all 4s ease;

:link
:visited
:hover
:active
:focus
:enabled
:disabled
:checked
:indeterminate
:target
:default
:valid
:invalid
:in-range
:out-of-range
:required
:optional
:read-only
:read-write
.no-draganddrop #mouseContainer {
    visibility;hidden;
    height:0px;
    }

.draganddrop #mouseContainer {
        text-align:center;
        } 
        
*/
